/* Hero Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.hero {
	width: 100%;
	position: relative;
	margin-bottom: $m-margin;
	display: table;
	@media screen and (min-width: $s-tablet) {
		height: 100%;
		margin-bottom: $l-margin;
	}

	&:before {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%; 
		background: #000;
		opacity: .4;
	}

	> div {
		position: relative;
		z-index: 1;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding-left: $s-pad; 
		padding-right: $s-pad;
		padding-top: 150px;
    	padding-bottom: 150px;
    	@media screen and (min-width: $s-tablet) {
			padding-top: 250px;
    		padding-bottom: 250px;
		}
	}

	h1 {
		color: $text-two;
		font-weight: 700;
		opacity: 0;
		animation: fadeIn .75s linear .5s forwards;
	}
}