/* 404 Page Styles
-------------------------------------------------------------------------------------
---------------------------------------------------------------------------------- */
.error404 {

	header {
		background: $background-one;
	}

	.hero {
		height: 75%;
		
		&:before {
			display: none;
		}

		h1 {
			color: $text-one;
			opacity: 1;
			animation: none;
		}
	}
}